{% macro render_field(field) %}

{% if  field.type == 'SubmitField' %}
<td> {{field(**kwargs)|safe}} </td>

{% endif %}

{% if field.type == 'BooleanField' %}

<td> {{field(**kwargs)|safe}}{{field.label(class_='form-check-label ms-2')}}</td>
{% endif %}

{% if field.type == 'RadioField' %}
<div class="row">
  {% for ie in field %}
  <div class="col">
    <td> {{ie(class='form-check-input mb-3')}} {{ie.label(class='form-check-label ms-2')}}</td>
  </div>

  {% endfor %}
</div>
{% endif %}

{% if field.type == 'StringField' or field.type == 'PasswordField' or field.type == 'SelectField' or field.type == 'EmailField' %}
<td> {{field.label(class_='form-label fw-bold mt-2')}} </td>
<dd> {{field(**kwargs)|safe}} </dd>
{% endif %}

{% if field.errors %}
<ul>
  {% for error in field.errors %}
  <li class="text-danger"> {{error}} </li>
  {% endfor %}
</ul>
{% endif %}

{% endmacro %}

{% macro render_tabs_A(field) %}
{% for a in field %}
{% set img = a['imgperfil'] %}
<div class="col-5 ">
  <div class="row m-2 justify-content-between ">
    <div class="col-4 bg-black position-relative"
      style="background-color: gray; background: url('{{img}}') no-repeat center; background-size: contain;">
    </div>
    <div class="col-8 bg-light p-2">
      <h6>{{a['usuario']}}</h6>
      <p> {{a['ciudad']}} </p>
    </div>
  </div>
</div>

{% endfor %}
{% endmacro %}

{% macro render_tabs(publicacion) %}
<script languague="javascript">
  function goDoSomething( d ) {
    var idPub = d.getAttribute( "data-id" );
    location.href = Flask.url_for( 'deletePub', {
      id: idPub
    } );
  }

  function EditComentario( r ) {
    var div = document.getElementById(r.dataset.id.toString());
    div.setAttribute("contenteditable", "true");
    div.focus();

  }

  function quitarEdit( r ) {
    r.setAttribute("contenteditable", "false");

  }

  function pulsar(e) {
    if (e.keyCode === 13 && !e.shiftKey) {
      e.preventDefault();
        
      var div = document.getElementById(e.target.id.toString());
      div.setAttribute("contenteditable", "false");
      var idCom = document.getElementById('EditCom').getAttribute( "data-id" );;
      
      location.href = Flask.url_for( 'editCom', { descripcion: div.innerHTML,id: e.target.id } );

    }
}

function insertCom(e) {
  if (e.keyCode === 13 && !e.shiftKey) {
    e.preventDefault();
      
    var div = document.getElementById(e.target.id.toString());
    var idPub = document.getElementById('eliminar').getAttribute( "data-id" );;
    
    
    location.href = Flask.url_for( 'insertCom', { pubId: e.target.id.charAt(1), descripcion: div.innerHTML } );
    console.log(div.innerHTML, idPub)

  }
}

  function DeleteComentario( r ) {
    var idCom = r.getAttribute( "data-id" );
    console.log( idCom )
    location.href = Flask.url_for( 'deleteCom', {
      id: idCom
    } );
  }
</script>
{%for item in range(0,publicacion|length,1) %}
{% set img = publicacion[item][0][6]+publicacion[item][0][7] %}

<div class="col-5 bg-light mt-3 rounded-3">
  <div class="row m-3 mb-0">
    <div class="col-sm-2">
      <!-- <img src="{{publicacion[item][0][2]}}{{publicacion[item][0][3]}}" class="bg-dark rounded-circle" alt="" -->
        <!-- style="width: 45px; height: 45px; background-color: gray;"> -->
        <div class="rounded-circle bg-dark"
      style="background: url('{{publicacion[item][0][2]}}{{publicacion[item][0][3]}}') no-repeat center; background-size: contain; width: 45px; height: 45px;"></div>
        
    </div>
    <div class="col-lg ms-2">
      <a href="" style=" font-size: large; font-weight: bold; text-decoration: none;"> {{publicacion[item][0][4]}} </a>

      <p style=" font-size: small;"> {{publicacion[item][0][5]}} </p>

    </div>
    <div class="col-sm-2 me-3">
      <button id="eliminar" data-id="{{publicacion[item][0][0]}}" onclick="goDoSomething(this);">Eliminar</button>

    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col bg-dark border border-1 border-light py-4">
      <div style="background: url('{{img}}') no-repeat center; background-size: contain; height: 35vh; ">
      </div>
    </div>
  </div>
 
    {% for comentario in range(0,publicacion[item][1]|length,1) %}
    <!-- ------------------------------------------------------------------------ -->
    <div class="row my-2 mx-1 ">
      <div class="col-sm-1 me-2">
        <!-- <img id="imgPerfilC" src="{{publicacion[item][1][comentario][2]}}{{publicacion[item][1][comentario][3]}}"
          class="bg-dark rounded-circle" alt="" style="width: 32px; height: 32px;"> -->

          <div class="rounded-circle bg-dark" id="imgPerfilC"
      style="background: url('{{publicacion[item][1][comentario][2]}}{{publicacion[item][1][comentario][3]}}') no-repeat center; background-size: contain; width: 32px; height: 32px;"></div>
          
      </div>
      <div class="col-lg">
        <div style="border: 1px solid #ccc; border-radius: 2vh; padding: 1.2vh; overflow: auto;">
          <a id="nombreUC" href=""
            style=" font-size: small; text-decoration: none;">{{publicacion[item][1][comentario][4]}}</a>
          <p id="{{publicacion[item][1][comentario][1]}}" onblur="quitarEdit(this);" onkeypress="pulsar(event)" style=" font-size: small; border-radius: 3vh; padding: 10px; padding-left: 15px; padding-right: 15px; overflow: auto; word-break: break-all; word-wrap: break-word;">{{publicacion[item][1][comentario][6]}}</p>
        </div>
      </div>
      <div class="col-sm-1 d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-three-dots" viewBox="0 0 16 16">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
              </svg>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
              <li><a id="EditCom" class="dropdown-item "  onclick="EditComentario(this);"
                  data-id="{{publicacion[item][1][comentario][1]}}">Editar</a></li>
              <li><a class="dropdown-item" onclick="DeleteComentario(this);"
                  data-id="{{publicacion[item][1][comentario][1]}}">Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  
  <div class="row my-3 mx-1">
    <div class="col-sm-1 me-2">
      <!-- <img src="{{publicacion[item][0][2]}}{{publicacion[item][0][3]}}" class="rounded-circle" alt=""
        style="width: 32px;"> -->
        <div class="rounded-circle bg-dark" id="imgPerfilC"
      style="background: url('{{publicacion[item][0][2]}}{{publicacion[item][0][3]}}') no-repeat center; background-size: contain; width: 32px; height: 32px;"></div>
    </div>
    <div class="col-lg">
      <div contentEditable=true id="p{{publicacion[item][0][0]}}" placeholder="Escribe un comentario..."
        style="border: 1px solid #ccc; border-radius: 4vh; padding: 10px; padding-left: 15px; padding-right: 15px; overflow: auto; word-break: break-all; word-wrap: break-word;" onkeypress="insertCom(event)">
      </div>
      <p style="font-size: 0.7rem;" class="mt-2">Presiona "Enter" para publicar</p>
    </div>
  </div>


</div>


{% endfor %}

{% endmacro %}