{% extends 'base/base.html' %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
{% from '_macro.html' import render_field %}


<div class="col position-relative bg-dark">
    <!-- style="background: url('https://www.xtrafondos.com/descargar.php?id=3963&resolucion=2560x1440') center; background-size: contain;" -->
    <div class="col-10 position-absolute bottom-0 start-0 m-5">
        <h2 class="text-white ">Bienvenido a</h2>
        <h2 class="text-white ">Social Melipona Beecheii</h2>
        <hr class="bg-white" size="5">
        <h4 class="text-white ">Una red social de imagenes</h4>
    </div>
</div>
<div class="col-4 d-flex justify-content-center position-relative">

    <button type="button" class="btn position-absolute top-0 end-0 me-4 mt-3 "><a
        href="{{ url_for('register') }}" class="text-decoration-none fs-5">Registrarse</a> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg></button>

    <form action="" class="col-9 p-4 mt-4" method="post" novalidate>
        <!------------------ Inicio------------------------->
        <div class="mx-auto d-block text-center">
            <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="logo" width="80px">
            <p class="fw-bolder fs-5 fst-italic">Social Melipona Beecheii</p>
        </div>
        {{formLog.hidden_tag()}}
        <br>
        <div class="control-group">
            <div class="form-group">
                <p>{{render_field(formLog.usuario, class_='form-control border-0 border-bottom border-2 border-dark bg-transparent')}}</p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group">
                <p>{{render_field(formLog.contraseña, class_='form-control border-0 border-bottom border-2 border-dark bg-transparent')}}</p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group"><br>
                <p>{{render_field(formLog.recordar, class_='form-check-input')}}</p>
            </div>
        </div>
        <div class="success"></div>
        <div class="row ">
            <div class="form-group col-xs-12 text-center">
                {{render_field(formLog.login, class_='btn btn-outline-primary my-4')}}
            </div>
        </div>
        <p class="text-center"><a href="#" target="_blank">¿Olvidaste tu contraseña?</a></p><br>
    </form>
</div>
{% endblock content %}